body {
    padding: 5rem 1.5rem 0;

    background: rgb(175,103,233);
    background: linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 85%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;

    &__box {
        display: none;
    }
}

.card {
    position: relative;
    height: 560px;

    padding: 0 1.5rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    &__header {
        &__image {
            min-width: 257px;
            max-height: 175px;
            position: absolute;
            top: -35%;
            transform: translate(-50%, 50%);
            left: 50%;
        }

        &__image-desktop {
            display: none;
        }

        &__shadow-desktop {
            display: none;
        }

    
        &__shadow {
            position: absolute;
            left: 50%;
            transform: translateX(-50%)
        }
    }


    &__main {

        &__title {
            margin-top: 8rem;
            margin-bottom: 1rem;
        }

        &__accordion {
            padding: 1rem 0;
            border-bottom: 1px solid var(--light-grayish-blue);

            &__label {
                position: relative;
                width: 100%;
                cursor: pointer;
                border: none;
                background-color: white;
                padding: 0;
                text-align: left;

                display: flex;
                align-items: center;
            }

            &__label::after {
                content: url(/images/icon-arrow-down.svg);
                width: 10px;
                height: 7px;

                margin-left: auto;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__label.active::after {
                transform: rotate(180deg);

            }

            &__content {
                overflow: hidden;
                max-height: 0;

                transition: max-height 0.2s ease-out;
                text-align: left;
                padding-right: 2rem;
            }   
        }
    }
}

.first {
    max-height: 100%;
}


/* Media queries */

@media (min-width : 600px) {

    body {
        padding-top: 8rem;
    }

    .card {
        padding: 0 4rem;
    }

    .card__header__image {
        min-height: 45%;
        top: -50%;
        z-index: 1;
    }

    .card__header__shadow {
        min-height: 26%;
        top: -3%;
        z-index: -0;
    }
}

@media (min-width : 1200px) {

    body {
        padding: 0 ;
        padding-left: 2rem;
    }

    .container {
        position: relative;
        
        &__box {
            display: block;
            position: absolute;
            top: 59%;
            transform: translateY(-50%);
            left: -11%;
            z-index: 2;
            overflow: visible;
        }
    }

    .card {
        display: flex;
        padding: 4rem 5rem;
        min-width: 900px;
        max-height: 515px;
        overflow: hidden;
        
        &__header {
            width: 50%;

            &__image {
                display: none;
            }

            &__shadow {
                display: none;
            }

            &__shadow-desktop {
                display: block;
                position: absolute;
                left: -58%;
                top: -50%;
                width: 100%;
                z-index: 0;
            }

            &__image-desktop {
                display: block;
                min-width: 30%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -10%;
                z-index: 1;
            }
        }

        &__main {
            width: 50%;

            &__title {
                margin-top: 0;
            }
        }
    }
}
